
/* ==============
    Homepage Elements
   ============== */


.slideshow{
	height: 500px;
}

.slideshow .slides-container{
	height: 330px;
}

.slides-container li{
	float: left;
	position: relative;
	height: 330px;
	width: 990px;
	display: none;
}

.slides-container li.active{
	display: block;
}

.slides-container li aside{
	position: absolute;
	left: 0;
	top: 20px;
	width: 520px;
	text-shadow: 1px 1px rgba(255,255,255,.6);
}

.slides-container li h2{
	font-size: 25px;
}

.slides-container li p{
	font-size: 18px;
}

.slides-container li figure{
	position: absolute;
	right: 0;
	bottom: 0;
}

.slideshow nav{
	background: url('images/general/bg-slider-nav.png') repeat-x left center transparent;
	width: 850px;
	height: 48px;
	position: relative;
	margin: 0 auto;
}

.slideshow nav ul{
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	height: 85px;
	margin-bottom: 40px;
}

.slideshow nav li{
	float: left;
	margin-right: 26%;
	height: 85px;
	text-align: center;
	position: relative;
}

.slideshow nav li.slide1{
	margin-left: -2px;
}

.slideshow nav li.slide4{
	margin-right: -2px;
	float: right;
}

.slideshow nav li a{
	background: url('images/general/bg-circle.png') no-repeat left top transparent;
	width: 47px;
	height: 48px;
	display: inline-block;
	line-height: 45px;
	font-size: 25px;
	text-shadow: 1px 1px 0 #fff;
	text-align: center;
	color: #999;
	font-family: 'HelveticaNeueBold';
}

.slideshow nav li a:hover,
.slideshow nav li.active a{
	text-decoration: none;
}

.slideshow nav li.active a{
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	background-position: left bottom;
}

.slideshow nav li span{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -90px;
	width: 180px;
	font-size: 18px;
	font-family: 'HelveticaNeueBold';
	text-shadow: 1px 1px rgba(255,255,255,.5);
	color: #708695;
}

.slideshow nav li.active span{
	color: #05151C;
}

.slideshow nav .loadbar{
	background: url('images/general/bg-slider-loadbar.png') repeat-x left center transparent;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.home-page .main-title{
	margin-bottom: 25px;
}

.main-container div.separator-section{
	margin: 20px 0;
}

.home-features{
	text-align: center;
	width: 100%;
}

.home-features section{
	float: left;
	margin-top: 80px;
	width: 30%;
	margin-left: 25px;
	text-shadow: 1px 1px 0 rgba(255,255,255,.6);
}

.home-features section.feature-quality{
	margin-top: 0;
}

.home-features section figure{
	width:  179px;
	height: 125px;
	margin: 0 auto 10px;
}

.home-features section h4{
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 0;
}

.home-features section p{
	line-height: 20px;
}

.home-testimonials li{
	float: left;
	width: 475px;
	margin: 0 10px;
}

.home-testimonials li > div::before{
	position: absolute;
	bottom: -35px;
	left: 34px;
	content: "";
	display: block;
	width: 44px;
	height: 41px;
	background: url('images/general/arrow-testimonial.png') no-repeat transparent;
	z-index: 2;
}

.home-testimonials li > div > section{
	padding: 10px 40px;
}

.home-testimonials li > div > section > span{
	position: absolute;
	background: url('images/general/icon-quote.png') no-repeat transparent;
	width: 26px;
	height: 25px;
}

.home-testimonials li > div > section > span.icon-quote-start{
	background-position: left top;
	left: 5px;
	top: 5px;
}

.home-testimonials li > div > section > span.icon-quote-end{
	background-position: left bottom;
	right: 5px;
	bottom: 5px;
}

.home-testimonials li p{
	margin: 0;
}

.home-testimonials li > name{
	margin-left: 85px;
	margin-top: 5px;
	float: left;
	font-size: 15px;
	font-family: 'HelveticaNeueBold';
}

.home-testimonials li > a{
	margin-top: 5px;
	float: right;
}


.clients-list{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	width: 900px;
	height: 70px;
}

.clients-list li{
	float: left;
	width: 25%;
	height: 70px;
	text-align: center;
}
