<div class="slideshow">
	<div class="wrapper clearfix">
		<ul class="slides-container">
			<li id="slide1">
				<aside>
					<h2>Upload your design files</h2>
					<p>Designs are accepted in almost any format. Popular formats include PSD, PNG, AI, PDF, EPS, even JPG. Please include custom fonts if necessary. You can upload your design through our order form or you can specify link to your file if the size is greater than 20MB.</p>
				</aside>
				<figure><img src="<!--{$imagePath}-->general/fig-slide1.png" alt="Upload your design files"></figure>
			</li>
			<li id="slide2" class="active">
				<aside>
					<h2>Slicing &amp; Conversion</h2>
					<p>Once you have submitted the order form, you will receive an email with login details to our client area. We slice up your designs into optimized and cross-browser compatible XHTML and CSS and will have them ready within one to five days depending on the chosen completion time. As soon as the design is sliced we will upload a preview and you will be able to review it.</p>
				</aside>
				<figure><img src="<!--{$imagePath}-->general/fig-slide2.png" alt="Slicing &amp; Conversion"></figure>
			</li>
			<li id="slide3">
				<aside>
					<h2>Quality Assurance</h2>
					<p>The hard work is done! But before delivery we go through quality assurance process which includes detailed testing on different operating systems and all modern browsers. In case we miss something and you're not totally satisfied, we're going to work on it until you love it!</p>
				</aside>
				<figure><img src="<!--{$imagePath}-->general/fig-slide3.png" alt="Quality Assurance"></figure>
			</li>
			<li id="slide4">
				<aside>
					<h2>Delivery</h2>
					<p>Once we are good to go we will wrap up all source files and deliver them to you. Looks simple. It actually is. Go on and give it a try.</p>
				</aside>
				<figure><img src="<!--{$imagePath}-->general/fig-slide4.png" alt="Delivery"></figure>
			</li>
		</ul>
		<nav>
			<ul>
				<li class="slide1 active"><a href="#slide1">1</a><span>Upload Design</span></li>
				<li class="slide2 active"><a href="#slide2">2</a><span>Slicing &amp; Conversion</span></li>
				<li class="slide3"><a href="#slide3">3</a><span>Quality Assurance</span></li>
				<li class="slide4"><a href="#slide4">4</a><span>Delivery</span></li>
			</ul>
			<span class="loadbar" style="width: 32%;"></span>
		</nav>
	</div>
</div>