<div class="footer-container">
    <div class="wrapper clearfix">
		<div class="upper-section">
			<section class="sitemap">
				<h5>Sitemap</h5>
				<ul>
					<li><a href="<!--{$applicationPath}-->">Home</a></li>
					<li><a href="<!--{$SiteData.urls.site.examples}-->">Samples</a></li>
					<li><a href="<!--{$SiteData.urls.site.order}-->">Order Now</a></li>
				</ul>
				<ul>
					<li><a href="<!--{$SiteData.urls.site.about}-->">About</a></li>
					<li><a href="<!--{$SiteData.urls.site.services}-->">Pricing</a></li>
					<li><a href="<!--{$SiteData.urls.site.privacy_policy}-->">Privacy Policy</a></li>
				</ul>
			</section>
			<section class="support">
				<h5>Support and Contact</h5>
				<ul>
					<li><a href="#" class="contact-us-link">Contact us</a></li>
					<li><a href="<!--{$SiteData.urls.site.faq}-->">FAQ</a></li>
				</ul>
				<ul>
					<li><a href="javascript:void(0)" class="footer-twitter">Twitter</a></li>
					<li><a href="javascript:void(0)" class="footer-facebook">Facebook</a></li>
					<li><a href="javascript:void(0)" class="footer-gplus">Google+</a></li>
				</ul>
			</section>
			<section class="latest-tweet">
				<h5>Latest Tweet <time>(about 22 hours ago)</time></h5>
				<p>10 of the best polyfills: <a href="javascript:void(0)">http://t.co/S5oFxIVq</a> #html5</p>
			</section>
			<section class="need-quote">
				<h5>Need a Quote</h5>
				<p>Fill in our request a quote form:</p>
				<button class="btn btn-red contact-us-link"><span>GET QUOTE NOW</span></button>
				<p>or Call <a href="tel:+1-888-756-4666" class="callto">+1-888-756-4666</a></p>
			</section>
		</div>
    </div>
	<div class="bottom-section">
		<div class="wrapper clearfix">
			<aside>&copy; Copyright 2013-2014 <a href="javascript:void(0)">HTML5Delivery</a> by <a href="javascript:void(0)">Mexo Inc</a>.</aside>
			<nav>
				<a href="javascript:void(0)" class="verisign"></a>
				<a href="javascript:void(0)" class="mcafee"></a>
				<a href="<!--{$SiteData.urls.external.mexoinc}-->" class="mexoinc"></a>
				<a href="javascript:void(0)" class="mediatemple"></a>
			</nav>
		</div>
	</div>
</div>

<!-- Contact Overlay-->
<div class="overlay-holder" style="display: none">
	<div class="overlay-contact">
		<header>
			<h3>Contact Us / Get a Free Quote</h3>
			<a href="javascript:void(0)" class="close"></a>
		</header>
		<section>
			<form class="contact-form" action="" method="post">
				<div>
					<label>Email <sup>*</sup></label>
					<input type="text" class="input-fullsize" id="email" name="email" />
				</div>
				<div>
					<p>
						<label>Upload</label>
						<button class="btn btn-red btn-browse"><span>Browse</span></button>
						<input type="text" />
					</p>
					<p class="last">
						<label>or link</label>
						<input type="text" id="link" name="link" />
					</p>
				</div>
				<div>
					<label>Message <sup>*</sup></label>
					<textarea id="message" name="message"></textarea>
				</div>
				<div>
					<p><!-- message loading goes here --></p>
					<p class="last btn-holder"><button class="btn btn-red float-right"><span>Submit</span></button></p>
				</div>
			</form>
		</section>
	</div>
</div>
<!-- #Contact Overlay-->

