<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="logo"><a href="<!--{$applicationPath}-->"></a></h1>
        <nav class="main-nav">
            <ul>
                <li><a href="<!--{$applicationPath}-->" class="active">Home</a></li>
                <li><a href="<!--{$SiteData.urls.site.how_it_works}-->">How It Works</a></li>
                <li><a href="<!--{$SiteData.urls.site.examples}-->">Examples</a></li>
                <li><a href="<!--{$SiteData.urls.site.services}-->">Services</a></li>
                <li><a href="<!--{$SiteData.urls.site.faq}-->">Faq</a></li>
                <li><a href="<!--{$SiteData.urls.site.about}-->">About</a></li>
                <li><a href="#" class="contact-us-link">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <!--{include file = $includeTemplate|cat: "header/$action.tpl.html"}-->
</div>