  <div class="examples-page">
    <div class="separator-section">
		<figure class="dash-top"></figure>
		<div class="wrapper clearfix">
			<section class="half-width">
				<h3>Who we are?</h3>
				<p>Mexo P2H Service is an agile web development service, we specialize in convert your designs into high quality W3C standard compliant websites. We are U.S. based company, our develop team is located in whole of the world. We are a friendly team that works in an extremely creative environment.</p>
				<p>Basically we convert designs (PSD, PNG, AI, etc.) into a hand coded and pixel perfect XHTML/CSS but we also do a lot more.</p>
			</section>
			<section class="half-width">
				<h3>What Makes Us Different</h3>
				<ul class="tick-list float-left">
					<li>Top Notch Code</li>
					<li>Payment on Total Satisfaction</li>
					<li>Free of Charge Additions</li>
					<li>Work With Your Programmer!</li>
					<li>Unbeatable Pricing</li>
				</ul>
				<ul class="tick-list float-left">
					<li>Revisions Even Months Later</li>
					<li>Best Quality</li>
					<li>Great Prices for Big Projects</li>
					<li>Non-disclosure Agreement</li>
					<li>People Who Actually Care</li>
				</ul>
			</section>
		</div>
		<figure class="dash-bottom"></figure>
    </div> <!-- #Separator Section -->
	
	<div class="about-container">
		<div class="wrapper clearfix">
			<div class="about-sidebar">
				<section class="sidebar-box">
					<h4>What We Believe</h4>
					<p>We are all unique in our own way and overall we are a pretty young crowd. But we all do share at least one thing in common, that's our passion and love for the web and everything about it. To us programming is like poetry, design for the web is the best art on the planet, and our creativity and enthusiasm oozes in everything we produce.</p>
				</section>
				<section class="sidebar-box">
					<h4>Quality and slicing guidelines</h4>
					<p>The following points summarize our strict guidelines:</p>
					<ul>
						<li>The markup looks exactly the same as the original design.</li>
						<li>CSS classes and images are intuitively named to correspond to their sense / content.</li>
						<li>The code is correctly indented to correspond to the nesting level of each element.</li>
					</ul>
					<p>Also see our <a href="<!--{$SiteData.urls.site.testimonials}-->">testimonials</a> and work <a href="<!--{$SiteData.urls.site.examples}-->">samples</a>.</p>
				</section>
				<section class="sidebar-box center">
					<h4>Ready to place your order?</h4>
					<div class="btn-container center">
						<button class="btn btn-red btn-medium"><span>ORDER NOW</span></button>
					</div>
				</section>
			</div>
			<div class="about-content">
				<section>
					<h3 class="main-title title-underline"><span>Our Method</span></h3>
					<p>We work hard to create websites that work effectively for our clients in terms of growing their businesses and having a strong presence on the Web. We put all of our web and technological expertise to work in customizing web solutions to meet our clients' needs</p>
				</section>
				<section>
					<h3 class="main-title title-underline"><span>How Our Process Works</span></h3>
					<ul class="work-steps">
						<li>
							<span>1</span>
							<aside>
								<h4>Step One</h4>
								<p>It all starts with you. You place the order, and our amazing "Customer Happiness Agents" will be contacting you right away. We take a look at your order and make sure everything is exactly the way you want it.</p>
							</aside>
						</li>
						<li>
							<span>2</span>
							<aside>
								<h4>Step Two</h4>
								<p>After your project specs have been checked out and payment has been received, we are ready to get started on your project. This is when your project is born and is assigned to one of our HTML/CSS guys.</p>
							</aside>
						</li>
						<li>
							<span>3</span>
							<aside>
								<h4>Step Three</h4>
								<p>After these HTML/CSS gurus are done slicin' and dicing' your designs and writing your code, they go ahead and throughly cross-browser test your entire site. We have a whole bunch of slave virtual machines set up here at the office to test on every browser imaginable! Seriously!</p>
							</aside>
						</li>
						<li>
							<span>4</span>
							<aside>
								<h4>Step Four</h4>
								<p>After these wonderful programmers finish, they send it over to our QA obsessive engineers. These guys are insanely detail oriented (You know the kind of guys who cut lawns with scissors?). They check your programmer's work and your designs to make sure it is exactly what you wanted. Voila!</p>
							</aside>
						</li>
						<li>
							<span>5</span>
							<aside>
								<h4>Step Five</h4>
								<p>Your project manager will go ahead and post your HTML/CSS project.</p>
							</aside>
						</li>
						<li>
							<span>6</span>
							<aside>
								<h4>Step Six</h4>
								<p>Ahh, Implementations. After we get that beautiful HTML/CSS approved by you, we will send it over to the required implementations department, depending on which CMS you chose. Have no fear, as we have teams that specialize in the exact implementation you choose.</p>
							</aside>
						</li>
						<li>
							<span>7</span>
							<aside>
								<h4>Step Seven</h4>
								<p>Success. Your order is finished and of course you leave 110% happy, because like always, we exceeded your expectations. :)</p>
							</aside>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>