   <div class="examples-page">
    <div class="separator-section">
		<figure class="dash-top"></figure>
		<div class="wrapper clearfix">
			<section>
				<h3>Who we are?</h3>
				<p>This section displays only few examples and we can not provide all the reference sites because of our Non-Disclosure Agreements with our clients. However, we have cordial relationships with clients and we can provide such references that are specific to your requirements.</p>
			</section>
		</div>
		<figure class="dash-bottom"></figure>
    </div> <!-- #Separator Section -->
	
	<div class="examples-container">
		<div class="wrapper clearfix">
			<header class="main-title-container">
				<h3 class="main-title title-underline"><span>Latest Projects</span></h3>
				<nav class="filter-nav">
					<a href="#html-css" class="html-css active" ></a>
					<a href="#email-template" class="email-template"></a>
					<a href="#mobile-template" class="mobile-template"></a>
				</nav>
			</header>
			<div id="#html-css">
				<ul class="projects-list">
					<li>
						<section>
							<img src="<!--{$imagePath}-->projects/pic-pergenproductions.jpg" alt="Pergen Productions">
							<div>
								<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
								<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
								<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
							</div>
						</section>
						<footer>
							<h3>Pergen Productions</h3>
							<span>4 Pages</span>
						</footer>
					</li>
					<li>
						<section>
							<img src="<!--{$imagePath}-->projects/pic-html5factory.jpg" alt="HTML5 Awesomeness Factory">
							<div>
								<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
								<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
								<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
							</div>
						</section>
						<footer>
							<h3>HTML5 Awesomeness Factory</h3>
							<span>2 Pages</span>
						</footer>
					</li>
					<li>
						<section>
							<img src="<!--{$imagePath}-->projects/pic-goalconstruction.jpg" alt="Goal Construction">
							<div>
								<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
								<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
								<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
							</div>
						</section>
						<footer>
							<h3>Goal Construction</h3>
							<span>10 Pages</span>
						</footer>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>