	 <div class="faq-page">
	 <div class="separator-section">
		<figure class="dash-top"></figure>
		<div class="wrapper clearfix">
			<section class="third-width">
				<h3><a href="#">General Questions</a></h3>
					<ul>
						<li><a href="#">How do I get a quote?</a></li>
						<li><a href="#">Do your offer bulk discounts?</a></li>
						<li><a href="#">What is your turnaround time?</a></li>
						<li><a href="#">What are your working hours?</a></li>
						<li><a href="#">What happens after I placed order?</a></li>
						<li><a href="#">What if I need some changes in markup provided by you?</a></li>
						<li><a href="#">How can I get in touch with you?</a></li>
						<li><a href="#">Do you work under DNA? Will you sign one?</a></li>
						<li><a href="#">Do you work on holidays?</a></li>
					</ul>
				</section>
				<section class="third-width">
					<h3><a href="#">Coding Related Questions</a></h3>
					<ul>
						<li><a href="#">What are the formats that you deal with?</a></li>
						<li><a href="#">What if I have extra sub pages in the future?</a></li>
						<li><a href="#">Are Drop-Downs menus included?</a></li>
						<li><a href="#">Can you help with the WordPress theme installation?</a></li>
						<li><a href="#">Can you create a WordPress theme for the existing markup?</a></li>
						<li><a href="#">Do you support the WordPress theme on an ongoing basis after its creation?</a></li>
						<li><a href="#">What is the required width of an email template?</a></li>
						<li><a href="#">What are the main restrictions for the email templates design?</a></li>
						<li><a href="#">Which fonts are better to use in a email template?</a></li>
					</ul>
				</section>
				<section class="third-width">
					<h3><a href="#">Payment and Discount</a></h3>
					<ul>
						<li><a href="#">What kind of currency and payment methods do you accept?</a></li>
						<li><a href="#">Do I have to pay upfront?</a></li>
						<li><a href="#">Do you have any discounts for returning customer?</a></li>
						<li><a href="#">Do you have a money-back guarantee or refund policy?</a></li>
					</ul>
			</section>
		</div>
		<figure class="dash-bottom"></figure>
	</div> <!-- #Separator Section -->
	
	<div class="faq-container">
		<div class="wrapper clearfix">
			<div class="sidebar">
				<section class="navigate">
					<h4>Navigate to:</h4>
					<ul>
						<li><a href="#general-questions" class="active">General Questions</a></li>
						<li><a href="#coding-qustions">Coding Related Questions</a></li>
						<li><a href="#payment-qustions">Payment and Discount</a></li>
					</ul>
				</section>
				<section class="sidebar-box">
					<h4>Additional questions?</h4>
					<p>Should you have further questions or concerns about P2C services, please complete the <a href="#" class="contact-us-link">contact form</a> or call</p>
					<p class="telno"><!--{$SiteData.urls.globalUrl.tel_number}--></p>
				</section>
				<section class="sidebar-box">
					<h4>Ready to place your order?</h4>
					<p>Have all your questions answered?</p>
					<div class="btn-container center">
						<a class="btn btn-red btn-medium" href="<!--{$SiteData.urls.site.order}-->"><span>ORDER NOW</span></a>
					</div>
				</section>
			</div>
			<div class="content-holder">
				<div id="general-questions">
					<header class="main-title-container">
						<h3 class="main-title title-underline"><span>General Questions</span></h3>
					</header>
					<article>
						<section>
							<h4>How do I get a quote?</h4>
							<p>You can always get a quote using the Order Now page.</p>
							<p>Once you fill in the number of pages, the total cost will be shown automatically above the "Order Now" button. You can also choose the necessary options and the total will be adjusted automatically.</p>
						</section>
						<section>
							<h4>Do you offer bulk discounts?</h4>
							<p>We have a discount policy for bulk orders. The extent of discount depends on the scope and challenge in work.</p>
							<p>Discounts also depend on the potential of long term partnership. Please feel free to contact us.</p>
						</section>
						<section>
							<h4>What is your turnaround time?</h4>
							<p>We have two turnaround packages: 3 days turnaround and 1 day turnaround, you can calculate the turnaround time on our order page by select the turnaround package and the number of pages.</p>
						</section>
						<section>
							<h4>What are your working hours?</h4>
							<p>We have two turnaround packages: 3 days turnaround and 1 day turnaround, you can calculate the turnaround time on our order page by select the turnaround package and the number of pages.</p>
							<ul>
								<li><strong>AEST:</strong> 10:00am-7:00pm</li>
								<li><strong>GMT:</strong> 1:00am-10:00am</li>
								<li><strong>EST:</strong> 8:00pm-5:00am</li>
							</ul>
							<p>Please be aware that being we don't work weekends, those days are taking into consideration for our scheduled deadlines. If you require time-line adjustments, we can investigate the possibility and possible weekend work.</p>
						</section>
						<section>
							<h4>What if I need some changes in markup provided by you?</h4>
							<p>Our aim is to provide you with 100% service satisfaction. If you ever wish to make changes to your design, even though our programmers have already started the implementation or your order is complete, just contact us. We feel that for every problem, there is a happy solution that satisfies everyone. You can always talk to us about discounts too.</p>
						</section>
						<section>
							<h4>How can I get in touch with you?</h4>
							<p>We will provide you access to our Client Area, which features updates about the project status, so you will be aware of your project at any time.</p>
							<p>You may also contact us using Online Chat and speak directly with your project manager or get consultation from our Support Team.</p>
							<ul>
								<li><strong>Email:</strong> info@psd2code.com</li>
								<li><strong>Skype:</strong> psd2code</li>
								<li><strong>Phone:</strong><!--{$SiteData.urls.globalUrl.tel_number}--></li>
							</ul>
						</section>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>	