<div class="separator-section">
	<figure class="dash-top"></figure>
	<div class="wrapper clearfix">
		<section class="half-width">
			<h3>What’s PSD2Html?</h3>
			<p>We convert your design into hand coded, pixel perfect, cross browser compatible and W3C compliant HTML5 / XHTML / CSS markup. We are aimed to help agencies and freelancers to provide better and faster services to their clients and our work is 100% confidential.</p>
			<a class="btn btn-arrow float-right" href="<!--{$SiteData.urls.site.about}-->"><span>More about us</span></a>
		</section>
		<section class="half-width">
			<h3>Payment on Total Satisfaction!</h3>
			<p>We do not require upfront payment and this is not a marketing trick. That's why we are not going to merely assure you how experienced and reliable we are. We will show you directly without obligating you financially. Give it a try.</p>
			<a class="btn btn-arrow float-right" href="<!--{$SiteData.urls.site.order}-->"><span>Ready to Order?</span></a>
		</section>
	</div>
	<figure class="dash-bottom"></figure>
</div> <!-- #Separator Section -->

<div class="home-features">
	<div class="wrapper clearfix">
		<section class="feature-satisfacation">
			<figure><img src="<!--{$imagePath}-->general/label-satisfacation.png" alt="Satisfaction Guarantee" /></figure>
			<h4>100% Satisfaction</h4>
			<p>We are confident in what we do, therefore we offer an outstanding money-back policy to our PSD to HTML package in case you are not satisfied with your final result.</p>
		</section>
		<section class="feature-quality">
			<figure><img src="<!--{$imagePath}-->general/label-quality.png" alt="Highest Quality Guarantee" /></figure>
			<h4>Highest Quality Markup</h4>
			<p>We ensure that each and every psd to Html/Xhtml, Wordpress and Joomla project we developed are 100% W3C valid.</p>
		</section>
		<section class="feature-affordable">
			<figure><img src="<!--{$imagePath}-->general/label-affordable.png" alt="We are affordable" /></figure>
			<h4>We are affordable</h4>
			<p>Our streamlined website development process and highly skilled developers allows us to provide our PSD to HTML / XHTML / CSS conversion service at very competitive rates. </p>
		</section>
		<div class="ordernow-container">
			<a class="btn btn-red btn-big" href="<!--{$SiteData.urls.site.order}-->"><span><strong>ORDER NOW</strong><small>Starting from $145</small></span></a>
		</div>
	</div>
</div> <!-- #Home-Features -->

<div class="home-testimonials">
	<div class="wrapper clearfix">
		<header class="main-title-container">
			<h3 class="main-title title-underline"><span>Testimonials</span></h3>
			<nav class="carousel-bullets">
				<a href="javascript:void(0)" class="active"></a>
				<a href="javascript:void(0)"></a>
				<a href="javascript:void(0)"></a>
				<a href="javascript:void(0)"></a>
				<a href="javascript:void(0)"></a>
			</nav>
		</header>
		<ul class="testimonials-list">
			<li>
				<div>
					<section>
						<p>I was extremely impressed with the service offered by XHTML4U, The project was completed in a timely manner and to a very high standard. I shall definitely be using the service regularly in the future.</p>
						<span class="icon-quote-start"></span>
						<span class="icon-quote-end"></span>
					</section>
				</div>
				<name>Marian French</name>
				<a href="http://mfrench.com">www.mfrench.com</a>
			</li>
			<li>
				<div>
					<section>
						<p>I was extremely impressed with the service offered by XHTML4U, The project was completed in a timely manner and to a very high standard. I shall definitely be using the service regularly in the future.</p>
						<span class="icon-quote-start"></span>
						<span class="icon-quote-end"></span>
					</section>
				</div>
				<name>Marian French</name>
				<a href="http://mfrench.com">www.mfrench.com</a>
			</li>
		</ul>
	</div>
</div> <!-- #Home-Testimonials -->

<div class="latest-projects">
	<div class="wrapper clearfix">
		<h3 class="main-title title-underline"><span>Latest Projects</span></h3>
		<div class="carousel-container">
			<ul class="projects-list">
				<li>
					<section>
						<img src="<!--{$imagePath}-->projects/pic-goalconstruction.jpg" alt="Pergen Productions">
						<div>
							<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
							<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
							<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
						</div>
					</section>
				</li>
				<li>
					<section>
						<img src="<!--{$imagePath}-->projects/email-floodmasters.jpg" alt="Pergen Productions">
						<div>
							<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
							<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
							<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
						</div>
					</section>
				</li>
				<li>
					<section>
						<img src="<!--{$imagePath}-->projects/pic-pergenproductions.jpg" alt="Pergen Productions">
						<div>
							<a href="javascript:void(0)" class="preview"><span>Preview</span></a>
							<a href="javascript:void(0)" class="html-view"><span><small>view</small>HTML</span></a>
							<a href="javascript:void(0)" class="css-view"><span><small>view</small>CSS</span></a>
						</div>
					</section>
				</li>
			</ul>
			<a href="javascript:void(0)" class="arrow-left"></a>
			<a href="javascript:void(0)" class="arrow-right"></a>
		</div>
	</div> <!-- #Latest-Projects -->
</div>

<div class="latest-clients">
	<div class="wrapper clearfix">
		<h3 class="main-title title-underline"><span>Latest Clients</span></h3>
		<div class="carousel-container">
			<ul class="clients-list">
				<li><a href="<!--{$SiteData.urls.external.toryfitness}-->"><img src="<!--{$imagePath}-->homepage/logo-toryfitness.png" alt="Tory Fitness"></a></li>
				<li><a href="<!--{$SiteData.urls.external.pergenproductions}-->"><img src="<!--{$imagePath}-->homepage/logo-pergenproductions.png" alt="Pergen Productions"></a></li>
				<li><a href="<!--{$SiteData.urls.external.goalconstruction}-->"><img src="<!--{$imagePath}-->homepage/logo-goalconstructions.png" alt="Goal Constructions"></a></li>
				<li><a href="<!--{$SiteData.urls.external.rtcdental}-->"><img src="<!--{$imagePath}-->homepage/logo-rtcdental.png" alt="RTC Dental"></a></li>
			</ul>
			<a href="javascript:void(0)" class="arrow-left"></a>
			<a href="javascript:void(0)" class="arrow-right"></a>
		</div>
	</div> <!-- #Latest-Clients -->
</div>
