<div class="separator-section">
	<figure class="dash-top"></figure>
	<div class="wrapper clearfix">
		<section>
			<h3>What’s PSD2Html?</h3>
			<p>To convert your designs to HTML pages, CMS themes or HTML Emails, we follow the same general workflow process. The steps below provide an overall view of how htmlBlender approaches the markup programming and design integration process.</p>
		</section>
	</div>
	<figure class="dash-bottom"></figure>
</div> <!-- #Separator Section -->

<div class="workflow-section">
	<section class="step1">
		<aside>
			<span>1</span>
			<h4>Upload your design files</h4>
			<p>Designs are accepted in almost any format. Popular formats include PSD, PNG, AI, PDF, EPS, even JPG. Please include custom fonts if necessary. You can upload your design through our order form or you can specify link to your file if the size is greater than 20MB.</p>
		</aside>
	</section>
	<section class="step2">
		<aside>
			<span>2</span>
			<h4>Slicing &amp; Conversion</h4>
			<p>Once you have submitted the order form, you will receive an email with login details to our client area. We slice up your designs into optimized and cross-browser compatible XHTML and CSS and will have them ready within one to five days depending on the chosen completion time. As soon as the design is sliced we will upload a preview and you will be able to review it.</p>
		</aside>
	</section>
	<section class="step3">
		<aside>
			<span>3</span>
			<h4>Quality Assurance</h4>
			<p>The hard work is done! But before delivery we go through quality assurance process which includes detailed testing on different operating systems and all modern browsers. In case we miss something and you're not totally satisfied, we're going to work on it until you love it!</p>
		</aside>
	</section>
	<section class="step4">
		<aside>
			<span>4</span>
			<h4>Delivery</h4>
			<p>Once we are good to go we will wrap up all source files and deliver them to you. Looks simple. It actually is. Go on and give it a try.</p>
		</aside>
	</section>
	<div class="ordernow-container">
		<p>Ready to Order?</p>
		<button class="btn btn-red btn-big"><span><strong>ORDER NOW</strong><small>Starting from $145</small></span></button>
	</div>
</div> <!-- #Workflow Section -->
