<div class="separator-section">
	<figure class="dash-top"></figure>
	<div class="wrapper clearfix">
		<ul class="services-options">
			<li class="html-programing">
				<a href="#html-programing">
					<figure><span></span></figure>
					<h4><small>PSD to HTML</small><br>Starting at <strong>$138</strong></h4>
				</a>
			</li>
			<li class="email-template active">
				<a href="#email-template">
					<figure><span></span></figure>
					<h4><small>PSD to Email</small><br>Starting at <strong>$168</strong></h4>
				</a>
			</li>
			<li class="mobile-code">
				<a href="#mobile-code">
					<figure><span></span></figure>
					<h4><small>PSD to Mobile</small><br>Starting at <strong>$179</strong></h4>
				</a>
			</li>
			<li class="advance-programing">
				<a href="#advance-programing">
					<figure><span></span></figure>
					<h4><small>JS &amp; PHP Programing</small><br>Starting at <strong>$99</strong></h4>
				</a>
			</li>
		</ul>
	</div>
	<figure class="dash-bottom"></figure>
</div> <!-- #Separator Section -->

<div class="order-container">
	<div class="wrapper clearfix">
		<div class="order-summary">
			<div class="order-summary-box">
				<header>Order Summary</header>
				<section>	
					<ul class="first">
						<li>
							<label>Number of Pages</label>
							<span>7 Pages</span>
						</li>
						<li>
							<label>Delivery Date</label>
							<span>To Be Discussed</span>
						</li>
					</ul>
					<ul class="last">
						<li>
							<label>Base Cost</label>
							<span>$138</span>
						</li>
						<li>
							<label>Options Cost</label>
							<span>$335</span>
						</li>
					</ul>
				</section>
				<footer>
					<label>Total Cost:</label>
					<span class="total-cost">$335</span>
				</footer>
			</div>
		</div>
		<div class="content-holder">
			<h3 class="main-title title-underline"><span>Select Page numbers and delivery Package</span></h3>
			<section>
				<h4>How many Page do you want?</h4>
				<div class="slider-container">
					<a href="#" class="btn-decrease"></a>
					<div class="slider-bar"><a href="#" class="slider-handle"></a></div>
					<a href="#" class="btn-increase"></a>
				</div>
				<h4>Select a delivery package</h4>
				<div class="slider-container slider-delivery-package">
					<a href="#" class="btn-decrease"></a>
					<div class="slider-bar"><a href="#" class="slider-handle"></a></div>
					<a href="#" class="btn-increase"></a>
					<label>$138 home page / $69 sub page</label>
				</div>
			</section>
			<h3 class="main-title title-underline"><span>Service Options</span></h3>
			<section class="tab-menu">
				<nav>
					<a href="#" class="active">Layout</a>
					<a href="#">Compatibility</a>
					<a href="#">CSS Options</a>
					<a href="#">Markup</a>
					<a href="#">jQuery</a>
				</nav>
				<div class="tabs-content">
					<div id="layout-content">
						<section>
							<h4>Layout Width <a href="#" class="description-circle"></a></h4>
							<ul>
								<li>
									<div class="radiobox active"><span></span></div>
									<label>Fixed</label>
									<em>Included</em>
								</li>
								<li>
									<div class="radiobox"><span></span></div>
									<label>Flexible</label>
									<em>+$20</em>
								</li>
								<li>
									<div class="radiobox"><span></span></div>
									<label>Responsive</label>
									<em>+$60</em>
								</li>
							</ul>
						</section>
						<section>
							<h4>Layout Position</h4>
							<ul>
								<li>
									<div class="radiobox active"><span></span></div>
									<label>Center</label>
									<em>Included</em>
								</li>
								<li>
									<div class="radiobox"><span></span></div>
									<label>Right</label>
									<em>Included</em>
								</li>
								<li>
									<div class="radiobox"><span></span></div>
									<label>Left</label>
									<em>Included</em>
								</li>
							</ul>
						</section>
						<section>
							<h4>Sticky Footer</h4>
							<ul>
								<li>
									<div class="radiobox active"><span></span></div>
									<label>No</label>
									<em>Included</em>
								</li>
								<li>
									<div class="radiobox"><span></span></div>
									<label>Yes</label>
									<em>+$10</em>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</section>
			<h3 class="main-title title-underline"><span>Project Summary</span></h3>
			<form class="summary-form" action="" method="post">
				<div>
					<p>
						<label>Project Name <sup>*</sup></label>
						<input type="text">
					</p>
					<p class="last">
						<label>Email <sup>*</sup></label>
						<input type="text">
					</p>
				</div>
				<div>
					<p>
						<label>Upload</label>
						<button class="btn btn-red btn-browse"><span>Browse</span></button>
						<input type="type">
					</p>
					<p class="last">
						<label>or link</label>
						<input type="text">
					</p>
				</div>
				<div>
					<label>Comment</label>
					<textarea></textarea>
				</div>
				<div>
					<p class="coupon-holder">
						<label>
							Coupon Code
							<span class="tooltip-container">
								<a href="#" class="description-circle"></a>
								<span class="tooltip-description">some text.....<i></i></span>
							</span>
						</label>
						<input type="text"/>
					</p>
					<p class="last btn-holder"><a class="btn btn-red btn-medium float-right" href="<!--{$SiteData.urls.site.order}-->"><span>Order Now</span></a></p>
				</div>
				<div>By clicking the "Order Now" button, you acknowledge that you have read and agree to the Mexo PSD2Html Service <a href="<!--{$SiteData.urls.site.terms_of_service}-->">Terms Of Service</a></div>
			</form>
		</div>
	</div>
</div>