<div class="separator-section">
	<figure class="dash-top"></figure>
	<div class="wrapper clearfix">
		<ul class="services-symbol">
			<li class="html-programing">
				<a href="#html-programing">
					<figure></figure>
					<h4>HTML/CSS<br>Programing</h4>
				</a>
			</li>
			<li class="email-template">
				<a href="#email-template">
					<figure></figure>
					<h4>Email Templates</h4>
				</a>
			</li>
			<li class="mobile-code">
				<a href="#mobile-code">
					<figure></figure>
					<h4>Mobile Code</h4>
				</a>
			</li>
			<li class="advance-programing">
				<a href="#advance-programing">
					<figure></figure>
					<h4>Advanced Javascript &amp;<br>Custom PHP programming</h4>
				</a>
			</li>
		</ul>
	</div>
	<figure class="dash-bottom"></figure>
</div> <!-- #Separator Section -->

<div class="service-container">
	<div class="wrapper clearfix">
		<ul>
			<li id="html-programing">
				<h3 class="main-title title-underline"><span>HTML/CSS</span></h3>
				<aside>
					<header>
						<section>
							<strong><sup>$</sup>95</strong>
							<span>First page</span>
						</section>
						<span class="divider"><b>&amp;</b></span>
						<section>
							<strong><sup>$</sup>75</strong>
							<span>Sub-page</span>
						</section>
					</header>
					<footer>
						<label>Estimated Time:</label>
						<span>2-5 Business Work</span>
					</footer>
				</aside>
				<section>
					<p>HTML template coding service. Send us your design in any common format (PSD, PNG, AI, etc.) and we will convert it into XHTML / CSS tableless markup meeting the highest industry standard.</p>
					<button class="btn float-left" id="btn-include"><span>See What's Included</span></button>
					<a class="btn btn-red float-left" href="<!--{$SiteData.urls.site.order}-->"><span>Order Now</span></a>
					<div class="included-list">
						<ul class="bullet-list">
							<li>item1</li>
							<li>item2</li>
							<li>item3</li>
							<li>item4</li>
						</ul>
					</div>
				</section>
			</li>
			<li id="email-template">
				<h3 class="main-title title-underline"><span>Email Templates</span></h3>
				<aside>
					<header>
						<section>
							<strong><sup>$</sup>95</strong>
							<span>First email</span>
						</section>
						<span class="divider"><b>&amp;</b></span>
						<section>
							<strong><sup>$</sup>75</strong>
							<span>Second email</span>
						</section>
					</header>
					<footer>
						<label>Estimated Time:</label>
						<span>2-5 Business Work</span>
					</footer>
				</aside>
				<section>
					<p>HTML Email Newsletter Coding Service. We take your email newsletter design and code it to email friendly HTML with maximum possible compatibility across all the major email clients.</p>
					<button class="btn float-left" id="btn-include"><span>See What's Included</span></button>
					<a class="btn btn-red float-left" href="<!--{$SiteData.urls.site.order}-->"><span>Order Now</span></a>
					<div class="included-list">
						<ul class="bullet-list">
							<li>item1</li>
							<li>item2</li>
							<li>item3</li>
							<li>item4</li>
						</ul>
					</div>
				</section>
			</li>
			<li id="mobile-code">
				<h3 class="main-title title-underline"><span>Mobile Code</span></h3>
				<aside>
					<header>
						<section>
							<strong><sup>$</sup>95</strong>
						</section>
						<span class="divider"><b>&amp;</b></span>
						<section>
							<strong><sup>$</sup>75</strong>
						</section>
					</header>
					<footer>
						<label>Estimated Time:</label>
						<span>2-5 Business Work</span>
					</footer>
				</aside>
				<section>
					<p>HTML coding service for mobile devices. We convert designs to mobile friendly HTML5/CSS3 templates and test them on all major devices such as: iPhone, iPad, Android, Blackberry.</p>
					<button class="btn float-left" id="btn-include"><span>See What's Included</span></button>
					<a class="btn btn-red float-left" href="<!--{$SiteData.urls.site.order}-->"><span>Order Now</span></a>
					<div class="included-list">
						<ul class="bullet-list">
							<li>item1</li>
							<li>item2</li>
							<li>item3</li>
							<li>item4</li>
						</ul>
					</div>
				</section>
			</li>
			<li id="advance-programing">
				<h3 class="main-title title-underline"><span>Advanced JavaScript and PHP programming</span></h3>
				<section>
					<p>With years of experience in the field we can confidently handle different types of PHP and JavaScript projects (Custom CMS, API integration, Custom E-commerce solutions, etc.). Please get in touch and check our availability.</p>
					<button class="btn btn-red float-left contact-us-link"><span>Request A Quote</span></button>
				</section>
			</li>
		</ul>
	</div>
</div>