  <div class="separator-section">
	<figure class="dash-top"></figure>
	<div class="wrapper clearfix">
		<section>
			<h3>Reviews from<figure class="twitter-bird"></figure>Twitter</h3>
			<ul class="twitter-testimonials-list">
				<li>
					<h4><span>Andrew Connell</span><small>@andrewconnell</small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-andrew.jpg" alt="Andrew Connell"></figure>
					<aside>
						<p>Just finished a job with @99designs &amp; @MexoP2H ... love the result &amp; cost. Thanks for the recommendation @zimmergren</p>
						<time>Jan 30, 2013</time>
					</aside>
				</li>
				<li>
					<h4><span>Jon Grafton</span><small>@Jonboydg</small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-jon.jpg" alt="Jon Grafton"></figure>
					<aside>
						<p>@MexoP2H I am excited with your work! And in superfast time!</p>
						<time>Dec 17, 2012</time>
					</aside>
				</li>
				<li>
					<h4><span>Tim O'Connell</span><small>@troconnell</small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-tim.jpg" alt="Tim O'Connell"></figure>
					<aside>
						<p>@MexoP2H Vera is doing a fantastic job. - Really enjoying the process with these guys as I flesh out my new portfolio.</p>
						<time>Dec 5, 2012</time>
					</aside>
				</li>
				<li>
					<h4><span>Bill MacKrell</span><small>@BillMacKrell</small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-bill.jpg" alt="Bill MacKrell"></figure>
					<aside>
						<p>@MexoP2H I am excited with your work!</p>
						<time>Nov 22, 2012</time>
					</aside>
				</li>
				<li>
					<h4><span>Charles Forman</span><small>@charles4man</small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-charles.jpg" alt="Charles Forman"></figure>
					<aside>
						<p>@MexoP2H Just another shout out to Julia Y. (manager - 65). She's a ROCKSTAR!</p>
						<time>Nov 7, 2012</time>
					</aside>
				</li>
				<li>
					<h4><span>Cesare Tatarelli</span><small>@CesareTatarelli </small></h4>
					<figure><img src="<!--{$imagePath}-->testimonials/pic-cesare.jpg" alt="Cesare Tatarelli"></figure>
					<aside>
						<p>@MexoP2H Nice work, patient and professional, even when I got hot under the collar.</p>
						<time>Nov 5, 2012</time>
					</aside>
				</li>
			</ul>
			<div class="center">
				<button class="btn"><span>See Other 11 Reviews On Twitter</span></button>
			</div>
		</section>
	</div>
	<figure class="dash-bottom"></figure>
</div> <!-- #Separator Section -->

<div class="direct-testimonials">
	<div class="wrapper clearfix">
		<h3 class="main-title center"><span>Direct Reviews</span></h3>
		<ul class="testimonials-list">
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"Excellent work and fast delivery. Much appreciated."</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"I wanted to let you know the site is live now. thank you for your great work!"</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"That's very good thank you. And your service has been exceptional; I'm very pleased."</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"Thank you for all of your great work. We are very happy with the code and the entire process!!"</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"This looks amazing. Great work on this project!! Great development. You guys always do wonderful work."</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"Thank you very much!! Everything is wonderful. Im happy u guys exist. will bring in more work in the future!"</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"Once again, P2H provides us a perfect markup! And even before estimated delivery date! Just impressive! Thank you! You're awesome"</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"you guys are lifesavers and damn good at what you do, hence the reason why i continually use you for all my projects."</p>
					</section>
				</div>
			</li>
			<li>
				<h4><name>Dennis Milandt</name><a href="http://mfrench.com">See Project</a></h4>
				<div>
					<section>
						<p>"Thank you very much. I am absolutely satisfied with you service! The results perfectly satisfy my expectations!"</p>
					</section>
				</div>
			</li>
		</ul>
		<div class="center">
			<button class="btn"><span>See Other 39 Direct Reviews</span></button>
		</div>
	</div>
</div>